[submodule "getdatatestbed"]
	path = getdatatestbed
	url = https://github.com/SBFRF/getdatatestbed.git
[submodule "testbedutils"]
	path = testbedutils
	url = https://github.com/SBFRF/testbedutils.git
