[submodule "gridTools"]
	path = gridTools
	url = git@bitbucket.org:SBFRF/gridtools.git

[submodule "sblib"]
	path = sblib
	url = git@bitbucket.org:SBFRF/sblib.git
[submodule "getdatatestbed"]
	path = getdatatestbed
	url = git@bitbucket.org:SBFRF/getdatatestbed
[submodule "scalecInterp_python"]
	path = scalecInterp_python
	url = https://github.com/SBFRF/scalecInterp_python
	branch = master
