[submodule "gridTools"]
	path = gridTools
	url = git@bitbucket.org:SBFRF/gridtools.git

[submodule "sblib"]
	path = sblib
	url = git@bitbucket.org:SBFRF/sblib.git
[submodule "getdatatestbed"]
	path = getdatatestbed
	url = git@bitbucket.org:SBFRF/getdatatestbed.git

[submodule "scaleCinterp_python"]
	path = scaleCinterp_python
	url = git@github.com:SBFRF/scaleCinterp_python.git
